body {
  text-align: center;
}

header {
  background-color: whitesmoke;
  height: 4rem;
}

main {
  margin: 2rem auto;
  text-align: left;
  width: 100vh;
}

.inputs_block {
  margin-top: 20px;
  padding: 0 !important;
  list-style-type: none;
}

.inputs_block_elemnt {
  margin-top: 25px;
}

.inputs_block label{
  display: block;
}
.array_element{
  padding-bottom: 10px;
}

.element_block{
  padding-bottom: 20px;
}
.element_block_name{
  font-weight: bold;
}

.options_table{
  margin-top: 5px;
  width: fit-content;
  display: inline-block;
  padding-right: 20px;
}